body {
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    padding: 64px 64px;
    max-width: 1440px;
    margin: auto;
}

.all-conteiner {
    margin-top: 69px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 56px;
    font-size: 24px;

}

.first-text {
    font-size: 88px;
    max-width: 531px;
}

.conteiner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fimg {
    margin-top: 24px;
    width: 100%;
}

p {
    font-size: 32px;
    margin-top: 0;
}

.text-anons {
    font-size: 24px;
    width: 100%;
}

@media (max-width: 1280px) {
    .first-text {
        font-size: 70px;
    }

}

@media (max-width: 1024px) {

    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .all-conteiner {
        grid-template-columns: repeat(1, 3fr);
        gap: 56px;
        font-size: 24px;
    }

    .first-text {
        font-size: 50px;

    }

    .fimg {
        margin-top: 20px;

    }

    .text-anons {
        font-size: 20px;
        width: 100%;
    }
}

@media (max-width: 640px) {
    body {
        margin: 32px 32px;
    }

    .all-conteiner {
        margin-top: 25px;
        gap: 20px;
    }

    .first-text {
        font-size: 40px;
        max-width: 100%;
    }

}

@media (max-width: 320px) {
    body {
        margin: 16px 16px;

    }

    .all-conteiner {
        margin-top: 20px;
        gap: 14px;
    }

    .first-text {
        font-size: 24px;
    }

    .text-anons {
        font-size: 14px;
    }

    p {
        font-size: 16px;
    }
}